.content{
    position: static;
    width: 1105px;
    margin-left: auto;
    margin-right: auto;
    font-family: Times, serif;
    border: 2px solid slategray;
}

.left-side{
    position: static;
    width: 325px;
    height: 1592px;
    padding-left: 7px;
    padding-top: 7px;
    font-size: 30px;
    color: black;
    background-color: slategray;
}

.right-side{
    position: static;
    margin-left: 325px;
    margin-top: -1597px;
    width: 759px;
    height: 1557px;
    padding-left: 20px;
    padding-top: 40px;
    font-size: 30px;
    color: black;
}

.medium-font{
    font-size: 24px;
}

.small-font{
    font-size: 18px;
}

.marg-info{
    margin-top: 110px;
}

.nav-block{
    position: flex;
}
.ul-style{
    list-style-type: none;
}
a{
    color: black;
}

.top-menu{
    display: flex;
    font-family: Times, serif;
    font-size: 30px;
    background-color: slategray;
    border-bottom: 2px solid white;
}

.top-menu-block1{
    flex: 1;
}

.top-menu-block2{
    flex: 1;
}

.top-menu-block3{
    flex: 1;
}

.top-menu-block4{
    flex: 1;
}

.footer{
    display: flex;
    width: 1095px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 24px;
    background-color: slategray;
    margin-left: auto;
    margin-right: auto;
    font-family: Times, serif;
    border: 2px solid white;
}

.footer-block1{
    flex: 1;
}

.footer-block2{
    flex: 1;
    padding-top: 30px;
}

.footer-block3{
    flex: 1;
    padding-top: 30px;
}